{% extends "base.html" %}

{% load static %}

{% block title %} MakArtistry {% endblock %}

{%block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolioDetails.css' %}">
{% endblock %}

{% block content %}

    <div class='filterGroup'>
        <label for="filter">
            <div class="filterBtn">Filter by <img src="{% static 'img/filter.svg' %}" alt="filter"></div>
        </label>

        <select id="filter" name="filter">
            <option value="Show All">Show All</option>
            <option value="Wedding">Wedding</option>
            <option value="Branded">Branded</option>
            <option value="Birthday">Birthday</option>
            <option value="Christmas">Christmas</option>
            <option value="Customized">Customized</option>
        </select>
    </div>
    
    <div class="topContent ">
    
        <div class="itemDetailSlideContainer">
            {% if journal_list %}
                <div class="itemDetailsContainer mySlides">
                    <div class="imageBox">
                        <img class="itemImage item1" src="{{journal.display_Img.url}}" alt="{{ journal.name }}">
                        <img class="itemImage item2" src="{{journal.display_ImgTop.url}}" alt="{{ journal.name }}">
                        <img class="itemImage item3" src="{{journal.display_ImgRight.url}}" alt="{{ journal.name }}">
                        <img class="itemImage item4" src="{{journal.display_ImgLeft.url}}" alt="{{ journal.name }}">
                        <img class="itemImage item5" src="{{journal.display_ImgRear.url}}" alt="{{ journal.name }}">
                    </div>
    
                    <div class="itemDescription">
    
                        <div id="size">
                            <span>Size: </span>
                            {{ journal.size }}
                        </div>
    
                        <div id="color">
                            <span>Color: </span>
                            {{ journal.color }}
                        </div>
    
                        <div id="category">
                            <span>Category: </span>
                            {{ journal.category }}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="content">
        <div class="collections">
            <p>Related Searches</p>
    
            <div class="collectionItems">
                {% for journal in journal_list %}
                    <a href="{% url 'portfolio:journal'  journal.id %}">
                        <img src="{{journal.display_Img.url}}" alt="{{ journal.name }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottomScript %}    
    <script src="{% static 'scripts/portDetailWeb.js' %}"></script>
    <script src="{% static 'scripts/portLoopCarousel.js' %}"></script>
{% endblock %}