{% extends "base.html" %}

{% load static %}

{% block title %} MakArtistry {% endblock %}

{%block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolioJournals.css' %}">
{% endblock %}

{% block content %}
    <div class="content">

        <div class="header">
            <div class="headerContent">

                <div class="headerContentWriteUp">
                    <div class="headerContentWriteUpInner">
                        <p>
                            J<span>OUR</span><br>
                            N<span>A</span><br>
                            L<span>S</span>
                        </p>
                        <p>journals & Notepads for your thoughts...</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="collections">
            <div class='filterGroup'>
                <label for="filter">
                    <div class="filterBtn">Filter by <img src="{% static 'img/filter.svg' %}" alt="filter"></div>
                </label>
    
                <select id="filter" name="filter">
                    <option value="Show All">Show All</option>
                    <option value="Wedding">Wedding</option>
                    <option value="Branded">Branded</option>
                    <option value="Birthday">Birthday</option>
                    <option value="Christmas">Christmas</option>
                    <option value="Customized">Customized</option>
                </select>
            </div>

            <div class="collectionItems">
                {% if journal_list %}
                    {% for journal in journal_list %}
                        <a href="{% url 'portfolio:journal'  journal.id %}">
                            <img src="{{journal.display_Img.url}}" alt="{{ journal.name }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}